@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');


html {
    background: #2B696D;
    position: relative;
}

.text {
    position: absolute;
    left: 250px;
    top: 55px;
    font-family: 'Orienta', sans-serif;
    font-size: 2rem;    
    text-align: center;
    color: #FFFFFF;
}


.difficulty-div {
    position: absolute;
    left: 820px;
    top: 295px;
}

.category-options {
    position: absolute;
    left: 300px;
    top: 295px;
}


#quiz-container {
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    visibility: hidden;
    width: auto;
    height: fit-content;
}

#question-text {
    margin-left: 380px;
    position: fixed;
    font-size: 2rem;
    margin-top: 30px;
    width: 550px;
}

#gameProgress {
    font-size: 1.2rem;
    font-family: 'Orienta', sans-serif;
    position: relative;
    top: -45px;
    left: 600px;
}

#points {
    font-size: 1.2rem;
    font-family: 'Orienta', sans-serif;
    margin-left: -1150px;
}

#answer-buttons-div {
    margin-top: 200px;
    padding: 5px;
}

#answer1, #answer2, #answer3, #answer4 {
    background: #d7d9d7;
    font-size: 1.25rem;
    padding: 10px;
    border: white;
    border-radius: 10px;
    cursor: pointer;
}

.first-two-button {
    margin: 50px;
}

#next_question {
    margin-left: 1100px;
    margin-bottom: 40px;
    background: greenyellow;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    cursor: pointer;
}


#click {
    position: relative;
    left: 600px;
    top: -20px;
    font-size: 1.25rem;
    cursor: pointer;
}