@media(max-width: 400px) {
    .text {
        left: 5px;
        top: 55px;
        font-size: 1.04rem;
    }

    .category-options {
        left: 60px;
        top: 225px;
    }

    .difficulty-div {
        left: 152px;
        top: 300px;
    }

    #click {
        left: 135px;
        top: 470px;
    }

    #credit {
        margin-top: -460px;
    }

    #quiz-container {
        margin: 20px;
        margin-top: -10px;
        margin-left: 12px;
        width: 355px;
        height: auto;
    }

    #question-text {
        font-size: 1.3rem;
        margin-top: -30px;
        max-width: 500px;
    }

    .first-two-button {
        margin: 55px;
    }

    #next_question {
        margin-left: 150px;
        margin-bottom: 55px;
        font-size: 1.1rem;
        padding: 10px;
    }

    #points {
        font-size: 1rem;
        margin-left: -200px;
    }

    #gameProgress {
        font-size: 0.95rem;
        top: -38px;
        left: 140px;
    }

    #player-info {
        font-size: 1.8rem;
        left: 0px;
        top: -470px;
    }


    #play-again-button {
        top: -350px;
        left: 125px;
        font-size: 1.6rem;
        opacity: 0.6;
    }

    #twitter-share {
        font-size: 1rem;
        top: -490px;
        left: 5px;
    }
}